/* Variables  */
:root
{
    --small-margin: 5px;
    --medium-margin: 10px;
    --large-margin: 18px
}

/* Styles */
body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background-color: aliceblue;
}
input, label
{
    margin: var(--small-margin);
}

h3
{
    margin-top: var(--large-margin);
    margin-bottom: var(--large-margin);
    color: deeppink;
}
#campus
{
    color: darkmagenta;
}

.radio
{
justify-content: right;
margin: var(--medium-margin);
}
