<html>
<head>
    <meta charset="utf-8">
    <title>Test Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
          integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet", type="text/css" , href="../static/css/main.css">
</head>
<body>
<form method="post" action="{{ url_for('hello') }}">

    <label>
        Name:
        <input type="text" name="to" value="Anon" required="required"/>
    </label>
    <br/>

    <label>
        Message:
        <input type="text" name="say" value="Have a good week!" required="required"/>
    </label>
    <br/>

    <label>
        Home Campus:
        <span class="radio"><input type="radio" name="campus" value="LAS" required="required"/>LAS - Ave J</span>
        <span class="radio"><input type="radio" name="campus" value="LCM" required="required"/>LCM - Queens</span>
        <span class="radio"><input type="radio" name="campus" value="LCM" required="required"/>LCW - W. 60th</span>
    </label>

    <p><input type="submit" value="Go"/></p>

</form>
</body>
</html>