<html>
<head>
    <meta charset="utf-8">
    <title>Greeting</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
          integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" , type="text/css" , href="../static/css/main.css">
</head>
<body>
<h2>Hi, {{ to }} </h2>
<h3>Message: {{ say }} </h3>
<p id="campus">Home Campus: {{ campus }}</p>
</body>
</html>